<h2>Messages</h2>

{{#if messages.length}}
    <div role="tabpanel">

      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
      {{#each message in messages}}
          {{!-- Note: we use the link-to helper to generate the <li>, so that its 'active' class is automatically set.  --}}
          {{#link-to "messages.tab" message tagName='li' activeClass='active'}}
            {{#link-to "messages.tab" message}}
              {{message.title}}
            {{/link-to}}
          {{/link-to}}
        {{/each}}
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
          <div role="tabpanel" class="tab-pane active">
            {{outlet}}
          </div>
      </div>

  </div>
{{else}}
  <p>No messages available</p>
{{/if}}

<div>
  <button class='btn btn-default' {{action 'createMessage'}}>Create message</button>
</div>  
